<html>
  <head>
    <!-- CSS -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style/style.css') }}?version=5.4">
  </head>

  <!-- body -->
  <body>
      <!-- Top Border -->
      <div class="banner">
        <img src="{{ url_for('static', filename='images/equisight-logo.png') }}" class="banner-img">
        <div class="banner-text">
          Equine Oral Scope Visualizer
        </div>
      </div>

      <div class="video">
        <img src="{{ url_for('video_feed') }}" class="video">
      </div>
  </body>
</html>
